body{
    background-color: rgb(5, 5, 5)
}
    
header{
    text-align: center;
    
    text-shadow: 1cm;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 1px 1px;
    
}
p{
    
    color: rgb(255, 255, 255);
}
h2{
    color: rgb(255, 255, 255);
}
h3{
    color: rgb(255, 255, 255);
}